html,
body {
    max-width: 100%;
    overflow-x: hidden;
}



* {
    padding: 0;
    margin: 0;
    color: black;
    list-style-type: none;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
}

img {
    width: 100px;
}

.container {
    padding: 0px 100px;
    background-color: #8BA5BE;
    z-index: -100;
    height: 300vh;
}

.header {
    position: fixed;
    top: 0;
    right: 100px;
    left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 1000;
    border-bottom: 2px solid red;
    border-right: 1px solid gray;
    border-radius: 10px;
    background-color: #FFDE5D;
    margin-bottom: 0;
    padding-bottom: 0;


}

ul {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

ul li a {

    margin-left: 30px;
    font-size: 25px;
    font-weight: 900;
    color: #000000;
}





#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .3s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition-duration: .3s;
}

/* #checkbox:checked + .toggle .bars {
    margin-left: 13px;
  } */

#checkbox:checked+.toggle #bar2 {
    transform: translateY(14px) rotate(60deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
}

#checkbox:checked+.toggle #bar1 {
    transform: translateY(28px) rotate(-60deg);
    transition-duration: .3s;
    transform-origin: left;
    z-index: 1;
}

#checkbox:checked+.toggle {
    transform: rotate(-90deg);
}

/* #checkbox:checked + .toggle #bar3 {
    transform: rotate(90deg);
    transition-duration: .3s;
    transform-origin:right;
  } */



.toggle {

    display: none;
}

.fa-solid {

    visibility: hidden;
}






@media(max-width:640px) {


    .header {
        position: fixed;
        top: 0;
        right: 0px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 0 20px; */
        z-index: 1000;
        border-radius: 0;
        overflow: visible;
        height: 100px;


    }

    ul {
        display: none;
    }

    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .3s;
    }

    .container {

        padding: 0;
        width: 0;
    }


    ul {
        width: 150px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 10px;
        background-color: #E8E8E8;
        border-radius: 10px;
        padding: 50px 30px;
        display: none;


    }

    ul li a {

        margin-left: 0px;
        font-size: 25px;
        font-weight: 900;
        color: #000000;
    }

    li a {
        margin-top: 5px;
        text-align: center;
    }

    .show {

        display: block;
    }


    .fa-solid {
        display: block;
        color: red;
        font-size: 40px;
        position: absolute;
        top: -10px;
        left: -10px;
        margin-bottom: 10px;
        cursor: pointer;
        visibility: visible;
    }


    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .3s;
    }


}


.show {

    display: block;
}

.home {

    position: relative;
    top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
}

.img img {

    width: 500px;
    animation: floatimage 4s ease-in-out infinite;
}

/* .btn {

    position: absolute;
    top: 500px;
} */

.home-container {

    background-color: #fff;
    width: calc(100vw - 220px);
    height: 100vh;
    margin-top: 0;
    position: absolute;
    top: 0;

}




.text h1 {

    color: #8B3DFF;

}

.text h2 {
    color: #FA3C64;
    font-size: 30px;
    font-weight: 900;
}

.text p {
    color: #0E1318;
    font-size: 20px;
    margin-bottom: 30px;
}

@keyframes floatimage {

    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(10px)
    }

    60% {

        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

.btn {

    color: #fff;
    background-color: #04AA6D;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 1px 2px 3px gray;
    text-align: center;
    animation: floatimage 4s ease-in-out infinite;


}

.btn:hover {

    background-color: #FA3C64;
    animation: floatimage 4s ease-in-out infinite;
}


@media(max-width:1350px) {

    .container {

        padding: 0px 0px;
        background-color: #8BA5BE;
        z-index: -100;
        height: 300vh;
    }

    .home {

        position: relative;
        top: 130px;
        right: 0px;
        left: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* margin-left: 0; */
        align-items: center;
    }

    .img img {

        width: 300px;
        animation: floatimage 4s ease-in-out infinite;
    }


    .home-container {

        background-color: #fff;
        width: 100%;
        height: 100vh;
        margin-top: 0;
        position: absolute;
        top: 0;
        border-radius: 10px;
        align-items: center;

    }

    .text {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }


    .text h1 {

        color: #8B3DFF;
        font-size: 17px;
        align-self: center;
        direction: rtl;
        margin-left: auto;

    }

    .text h2 {
        color: #FA3C64;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }

    .text p {
        color: #0E1318;
        font-size: 10px;
        margin-bottom: 30px;
        align-self: center;
        direction: rtl;
    }





}




.e-card {
    margin: 50px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    position: relative;
    width: 240px;
    height: 330px;
    border-radius: 16px;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}

.infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.name {
    font-size: 14px;
    font-weight: 300;
    position: relative;
    top: 1em;
    text-transform: lowercase;

}

.wave:nth-child(2),
.wave:nth-child(3) {
    top: 210px;
}

.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}

.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.about {

    background-color: #FFFFFF;
    width: calc(100% - 204px);
    position: absolute;
    top: 100vh;

}


@media(max-width:500px) {

    .about {

        background-color: #FFFFFF;
        width: 100vw;
        position: absolute;
        top: 100vh;
        right: 0px;
        left: 0px;

    }

    .container {
        background-color: none;
        margin: 0;
        padding: 0;
    }
}



.about h1 {

    color: #FA3C64;
    text-align: center;
    margin-top: 30px;
    position: relative;
}


.about h1::after {

    content: "";
    position: absolute;
    right: calc(50% - 50px);
    bottom: 0;
    width: 100px;
    height: 3px;
    background-color: #5b42f3;
}


.boxes {

    display: flex;
    flex-wrap: wrap;
}